body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}


/* непонятно как все таки скрывать */

.visually-hidden {
  display: none;
}


/*.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: 0;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
*/

.navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation,
.user-busket {
  list-style: none;
}

.site-navigation a,
.user-busket a {
  color: #000000;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.site-navigation a:hover,
.user-busket a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-busket a:active {
  color: #a6a6a6;
}


/* разобраться с нижним подчеркиванием */

.site-navigation-current a::after {
  content: "";
  text-decoration: underline;
  text-decoration-color: #fb565a;
}


/*            СЛАЙДЕР                  */

.slider-features .slider-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-features .slider-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.slider-features {
  background-color: #eeeeee;
}

.slider-features a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #fb565a;
  color: #ffffff;
}

.slider-features a:hover {
  background-color: #e74246;
}

.slider-features a:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}


/*            ПРЕВЬЮ КАТАЛОГА                  */

.preview-catalog h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.preview-catalog p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.preview-button-web {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #fb565a;
  color: #ffffff;
}

.preview-button-web:hover {
  background-color: #e74246;
}

.preview-button-web:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.preview-button-apps {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #00ca74;
  color: #ffffff;
}

.preview-button-apps:hover {
  background-color: #00bc6c;
}

.preview-button-apps:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.preview-button-present {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #efc84a;
  color: #ffffff;
}

.preview-button-present:hover {
  background-color: #eab534;
}

.preview-button-present:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.preview-catalog {
  background-color: #ffffff
}

.preview-catalog-list {
  list-style: none;
}


/*            О КОМПАНИИ                  */

.about-us b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.about-us .we-made {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.orders-list {
  list-style: none;
}

.statistic .statistic-slogan {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.statistic-table th {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  color: #000000;
}

.statistic-table td {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 20px;
  text-align: left;
  color: #283136;
}

.statistic-table {
  padding-top: 20px;
  vertical-align: middle;
}


/*            КЛИЕНТЫ                  */

.clients-list {
  list-style: none;
}

.clients-list a {
  opacity: 0.2;
}

.clients-list a:hover {
  opacity: 1;
}

.clients-list a:active {
  opacity: 0.1;
}


/*                  КАРТА С КОНТАКТАМИ              */

.contacts b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.contacts a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #fb565a;
  color: #ffffff;
}


/*                 ПОДВАЛ                     */

.social-list {
  list-style: none;
}

.footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}


/*              МОДАЛЬНОЕ ОКНО           */

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.modal .feedback label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.feedback input[type="text"],
.feedback textarea[id="review"] {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.4);
  border: 1px solid rgba(68, 68, 68, 0.4);
}

.feedback input::-webkit-input-placeholder,
.feedback textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback input::-moz-placeholder,
.feedback textarea::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback input:hover,
.feedback textarea:hover,
.feedback input:hover::-webkit-input-placeholder,
.feedback textarea:hover::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
  border-color: rgba(68, 68, 68, 0.6);
}

.feedback input:focus,
.feedback textarea:focus,
.feedback input:focus::-webkit-input-placeholder,
.feedback textarea:focus::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
  border-color: rgba(68, 68, 68, 1);
}

.feedback input:hover,
.feedback textarea:hover,
.feedback input:hover::-moz-placeholder,
.feedback textarea:hover::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
  border-color: rgba(68, 68, 68, 0.6);
}

.feedback input:focus,
.feedback textarea:focus,
.feedback input:focus::-moz-placeholder,
.feedback textarea:focus::-moz-placeholder {
  color: rgba(68, 68, 68, 1);
  border-color: rgba(68, 68, 68, 1);
}

.feedback input:invalid,
.feedback textarea:invalid {
  color: #e74246;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #fb565a;
  border: none;
}


/* ----------------------------    МАГАЗИН --------------------------------- */

.catalog-container h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}


/*                        ФИЛЬТР СТОИМОСТИ                    */

fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.filter .price-range-block {
  background-color: #eeeeee;
}

.output-area label {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
}

.output-area output {
  background-color: #eeeeee;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter .filter-option label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
}

.filter .filter-option input:hover+label,
.filter .filter-option input:focus+label {
  color: #000000;
}

.filter .filter-option input:disabled+label {
  color: rgba(40, 49, 54, 0.3)
}

.filter .filter-button {
  font: inherit;
  text-align: center;
  font-weight: 500;
  color: #000000;
  vertical-align: middle;
  background-color: #eeeeee;
  border: none;
}

.filter button:hover {
  background-color: #dfdfdf;
}

.filter button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 2px 0px #bfbfbf;
}


/*                           КАТАЛОГ                         */

.catalog h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.catalog .catalog-text-buttons {
  list-style: none;
}

.catalog .catalog-text-buttons a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.catalog .catalog-text-buttons a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog .catalog-text-buttons a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog .button-current a {
  color: rgba(0, 0, 0, 1);
}

.catalog .catalog-list {
  list-style: none;
}

.catalog-list .item-price {
  background-color: #eeeeee;
}

.catalog-list .item-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.catalog-list p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.catalog-list a:not(.item-name) {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #fb565a;
  color: #ffffff;
}

.catalog-list a:not(.item-name):hover {
  background-color: #e74246;
}

.catalog-list a:not(.item-name):active {
  background-color: #d7373b;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  font-weight: 500;
  background-color: #eeeeee;
  color: #000000;
  border: 1px solid #eeeeee;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
  color: #000000;
  border: 1px solid #dfdfdf;
}

.pagination-list a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 2px 0px #bfbfbf;
  border: 1px solid #d5d5d5;
}

.pagination-list .pagination-item-current a {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #dbdbdb;
}

.pagination-list .pagination-item-current a:hover,
.pagination-list .pagination-item-current a:focus {
  background-color: #dfdfdf;
  color: #000000;
  border: 1px solid #dfdfdf;
}

.pagination-list .pagination-item-current a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 2px 0px #bfbfbf;
  border: 1px solid #d5d5d5;
}




