body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #eeeeee;
}

.header-logo {
  width: 160px;
  height: 65px;
  align-self: flex-end;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
}

.navigation-wrapper {
  width: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 440px;
}

.user-busket {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 160px;
}

.user-busket::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 82px;
  left: 28px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation,
.user-busket {
  list-style: none;
}

.site-navigation a,
.user-busket a {
  display: block;
  padding: 75px 0 12px 0;
  vertical-align: middle;
  color: #000000;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.site-navigation a:hover,
.user-busket a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-busket a:active {
  color: #a6a6a6;
}

.site-navigation-current::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 1px;
  background-color: #fb565a;
}


/*            СЛАЙДЕР                  */

.slider-features {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
  margin-bottom: 76px;
  background-color: #eeeeee;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
  margin: 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked~.features-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.features-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.features-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  padding: 0;
  margin-bottom: 20px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p {
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.features-button {
  display: block;
  width: 240px;
  padding: 13px 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  background-color: #fb565a;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}

.slider-features a:hover,
.slider-features a:focus {
  background-color: #e74246;
}

.slider-features a:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 150px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}


/*            ПРЕВЬЮ КАТАЛОГА                  */

.preview-catalog h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.preview-catalog p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.preview-button-web {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #fb565a;
  color: #ffffff;
}

.preview-button-web:hover {
  background-color: #e74246;
}

.preview-button-web:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.preview-button-apps {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #00ca74;
  color: #ffffff;
}

.preview-button-apps:hover {
  background-color: #00bc6c;
}

.preview-button-apps:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.preview-button-present {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #efc84a;
  color: #ffffff;
}

.preview-button-present:hover {
  background-color: #eab534;
}

.preview-button-present:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.preview-catalog {
  background-color: #ffffff;
  margin-bottom: 80px;
}

.preview-catalog-list {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.preview-catalog-item {
  width: 300px;
}


/*            О КОМПАНИИ                  */

.about-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.about-us {
  width: 660px;
  margin-top: 77px;
}

.about-us b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.about-us .we-made {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.orders-list {
  list-style: none;
}

.statistic {
  width: 360px;
  margin-top: 42px;
}

.statistic .statistic-slogan {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.statistic-table th {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  color: #000000;
}

.statistic-table td {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 20px;
  text-align: left;
  color: #283136;
}

.statistic-table {
  padding-top: 20px;
  vertical-align: middle;
}

sup {
  font-size: 60%;
  right: 12px;
  top: -13px;
}


/*            КЛИЕНТЫ                  */

.clients {
  margin-bottom: 83px;
}

.clients-logo {
  width: 260px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.clients-list a {
  opacity: 0.2;
}

.clients-list a:hover {
  opacity: 1;
}

.clients-list a:active {
  opacity: 0.1;
}


/*                  КАРТА С КОНТАКТАМИ              */

.map {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0;
  margin-bottom: 67px;
  position: relative;
}

.contacts {
  content: "";
  position: absolute;
  margin: 54px 0;
  width: 320px;
  left: 140px;
  background-color: #ffffff;
  min-height: 308px;
}

.contacts b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.contacts a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #fb565a;
  color: #ffffff;
}


/*                 ПОДВАЛ                     */

.footer .container {
  display: flex;
}

.social-list {
  width: 265px;
  margin: 0 130px 0 0;
  padding: 0;
  list-style: none;
}

.footer {
  margin: 0;
  padding: 0 0 68px 0;
}

.footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.footer-slogan {
  width: 565px;
  margin: 0;
}


/*              МОДАЛЬНОЕ ОКНО           */

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.modal .feedback label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.feedback input[type="text"],
.feedback textarea[id="review"] {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.4);
  border: 1px solid rgba(68, 68, 68, 0.4);
}

.feedback input::-webkit-input-placeholder,
.feedback textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback input::-moz-placeholder,
.feedback textarea::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback input:hover,
.feedback textarea:hover,
.feedback input:hover::-webkit-input-placeholder,
.feedback textarea:hover::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
  border-color: rgba(68, 68, 68, 0.6);
}

.feedback input:focus,
.feedback textarea:focus,
.feedback input:focus::-webkit-input-placeholder,
.feedback textarea:focus::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
  border-color: rgba(68, 68, 68, 1);
}

.feedback input:hover,
.feedback textarea:hover,
.feedback input:hover::-moz-placeholder,
.feedback textarea:hover::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
  border-color: rgba(68, 68, 68, 0.6);
}

.feedback input:focus,
.feedback textarea:focus,
.feedback input:focus::-moz-placeholder,
.feedback textarea:focus::-moz-placeholder {
  color: rgba(68, 68, 68, 1);
  border-color: rgba(68, 68, 68, 1);
}

.feedback input:invalid,
.feedback textarea:invalid {
  color: #e74246;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #fb565a;
  border: none;
}


/* ----------------------------    МАГАЗИН --------------------------------- */

.container h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  margin-top: 0px;
}


/*                        ФИЛЬТР СТОИМОСТИ                    */

fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.filter .price-range-block {
  background-color: #eeeeee;
}

.output-area label {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
}

.output-area output {
  background-color: #eeeeee;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter .filter-option label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
}

.filter .filter-option input:hover+label,
.filter .filter-option input:focus+label {
  color: #000000;
}

.filter .filter-option input:disabled+label {
  color: rgba(40, 49, 54, 0.3)
}

.filter .filter-button {
  font: inherit;
  text-align: center;
  font-weight: 500;
  color: #000000;
  vertical-align: middle;
  background-color: #eeeeee;
  border: none;
}

.filter button:hover {
  background-color: #dfdfdf;
}

.filter button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 2px 0px #bfbfbf;
}


/*                           КАТАЛОГ                         */

.catalog h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.catalog .catalog-text-buttons {
  list-style: none;
}

.catalog .catalog-text-buttons a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.catalog .catalog-text-buttons a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog .catalog-text-buttons a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog .button-current a {
  color: rgba(0, 0, 0, 1);
}

.catalog .catalog-list {
  list-style: none;
}

.catalog-list .item-price {
  background-color: #eeeeee;
}

.catalog-list .item-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.catalog-list p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.catalog-list a:not(.item-name) {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #fb565a;
  color: #ffffff;
}

.catalog-list a:not(.item-name):hover {
  background-color: #e74246;
}

.catalog-list a:not(.item-name):active {
  background-color: #d7373b;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  font-weight: 500;
  background-color: #eeeeee;
  color: #000000;
  border: 1px solid #eeeeee;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
  color: #000000;
  border: 1px solid #dfdfdf;
}

.pagination-list a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 2px 0px #bfbfbf;
  border: 1px solid #d5d5d5;
}

.pagination-list .pagination-item-current a {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #dbdbdb;
}

.pagination-list .pagination-item-current a:hover,
.pagination-list .pagination-item-current a:focus {
  background-color: #dfdfdf;
  color: #000000;
  border: 1px solid #dfdfdf;
}

.pagination-list .pagination-item-current a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 2px 0px #bfbfbf;
  border: 1px solid #d5d5d5;
}


/*---------------------------СЕТОЧНЫЕ СТИЛИ----------------------- */


/*------------------СЛАЙДЕР--------------------*/


/*----------------ПРЕВЬЮ КАТАЛОГА----------------*/


/*------------------О КОМПАНИИ-------------------*/


/*-------------------КЛИЕНТЫ---------------------*/


/*-------------------КАРТА-----------------------*/


/*------------------ПОДВАЛ----------------------*/


/*---------------------------МАГАЗИН------------------------*/


/*                 ЗАГАЛОВОК                     */

.catalog-name-block {
  display: flex;
  margin-bottom: 57px;
  /*              временно для сетки             */
  outline: 2px solid rgba(85, 129, 250, 1);
  background-color: rgba(85, 129, 250, 0.3);
  min-height: 241px;
}

.catalog-name {
  width: 760px;
  padding: 0;
  margin: auto;
  /*              временно для сетки             */
  outline: 2px solid rgb(232, 245, 53);
  background-color: rgba(233, 250, 85, 0.3);
  min-height: 55px;
}


/*-------------------ФИЛЬТР----------------------*/

.catalog-colums {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  /*              временно для сетки             */
  outline: 2px solid rgb(85, 250, 107);
  background-color: rgba(85, 250, 99, 0.3);
}

.filters {
  width: 260px;
  /*              временно для сетки             */
  outline: 2px solid rgba(85, 129, 250, 1);
  background-color: rgba(85, 129, 250, 0.3);
  min-height: 776px;
}

.filter-price {
  width: 260px;
  margin: 0 0 60px 0;
  padding: 0;
  /*              временно для сетки             */
  outline: 2px solid rgb(232, 245, 53);
  background-color: rgba(233, 250, 85, 0.3);
  min-height: 205px;
}

.filter-grid {
  width: 260px;
  margin: 0 0 55px 0;
  padding: 0;
  /*              временно для сетки             */
  outline: 2px solid rgb(232, 245, 53);
  background-color: rgba(233, 250, 85, 0.3);
  min-height: 127px;
}

.filter-features {
  width: 260px;
  margin: 0 0 48px 0;
  padding: 0;
  /*              временно для сетки             */
  outline: 2px solid rgb(232, 245, 53);
  background-color: rgba(233, 250, 85, 0.3);
  min-height: 223px;
}

.filter-button {
  width: 260px;
  /*              временно для сетки             */
  outline: 2px solid rgb(232, 245, 53);
  background-color: rgba(233, 250, 85, 0.3);
  min-height: 50px;
}


/*----------------------КАТАЛОГ-------------------*/

.catalog {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  /*              временно для сетки             */
  outline: 2px solid rgba(85, 129, 250, 1);
  background-color: rgba(85, 129, 250, 0.3);
  min-height: 2103px;
}

.catalog-options {
  width: 360px;
  padding: 0;
  margin: 0 40px 58px 0;
  /*              временно для сетки             */
  outline: 2px solid rgb(232, 245, 53);
  background-color: rgba(233, 250, 85, 0.3);
  min-height: 18px;
}

.catalog-text-buttons {
  width: 360px;
  list-style: none;
  padding: 0;
  margin: 0 0 58px 0;
  /*              временно для сетки             */
  outline: 2px solid rgb(232, 245, 53);
  background-color: rgba(233, 250, 85, 0.3);
  min-height: 18px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 60px 0;
  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
  /*              временно для сетки             */
  outline: 2px solid rgb(232, 245, 53);
  background-color: rgba(233, 250, 85, 0.3);
  min-height: 618px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  width: 444px;
  padding: 0;
  margin: 0;
  list-style: none;
  /*              временно для сетки             */
  outline: 2px solid rgb(232, 245, 53);
  background-color: rgba(233, 250, 85, 0.3);
  min-height: 50px;
}
